/* .App {
  text-align: center;
}
input[type="button"]{
  background-color: #2196F3;
  padding: 15px;
  color:aliceblue;
  font-size: 20px;
  margin: 5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.grid-container {
  display: grid;
  background-color: #2196F3;
  padding: 10px;
  margin: auto;
  max-width: 70%;
  grid-template-columns: auto auto auto auto;
}
.column-name{
  grid-column: 1 / span 4;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 25px;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home-container,#experiment-container,.responsive-flex {
display: flex;
width: auto;
align-self: center;}
#sidebar {
  display: none;}
  @media only screen and (max-width: 600px) {

#home-container,#experiment-container,.responsive-flex,#sidebar {
  display: block;}
  }
table{
  border-collapse: collapse;
  align-self: center;
}
th,tr,table,td{
  border: 1px solid black;
} */



/* v.s. start -- */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
  font-family:'Manrope', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

/* color classes */

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    #002853 0%,
    #040c18 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
}

.section__padding {
  padding: 1rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 750px) {
  .section__padding {
    padding: 1rem 3rem;
  }
  .section__margin {
    padding: 4rem 3rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem;
  }
  .section__margin {
    padding: 2rem;
  }
}
